In [1]:
#pip install lxml

In [2]:
import requests

In [3]:
aux='https://www.diariomotor.com/marcas/'
response = requests.get(aux)

In [4]:
from bs4 import BeautifulSoup

In [5]:
if response.status_code==200 :
    soup = BeautifulSoup(response.text,'html.parser')
    lista = soup.find('div',attrs={'css-xt4val e17elydr3'})

In [6]:
names= lista.find_all('span',attrs={'css-1ulzmi e1rmgh9t1'})

In [7]:
import sqlite3 as sql

In [8]:
con=sql.connect('brandCars.db')
table=con.cursor()

In [9]:
#table.execute('''CREATE TABLE brandCars(IdCar integer,nameBrand text)''')

In [10]:
listNames=[]
idNames=[]
i=0
for name in names:
    idNames.append(i)
    listNames.append(name.get_text())
    i+=1
db=zip(idNames,listNames)

In [11]:
table.executemany('INSERT INTO brandCars VALUES(?,?)',db)

In [12]:
con.commit()

In [13]:
for row in table.execute('SELECT * FROM brandCars'):
    print(row)

(0, 'Abarth')
(1, 'Aiways')
(2, 'Alfa Romeo')
(3, 'Alpine')
(4, 'Aston Martin')
(5, 'Audi')
(6, 'Bentley')
(7, 'BMW')
(8, 'Bugatti')
(9, 'Citroën')
(10, 'CUPRA')
(11, 'Dacia')
(12, 'DFSK')
(13, 'DR')
(14, 'DS')
(15, 'Ferrari')
(16, 'Fiat')
(17, 'Ford')
(18, 'Genesis')
(19, 'Hispano Suiza')
(20, 'Honda')
(21, 'Hyundai')
(22, 'INEOS')
(23, 'Jaguar')
(24, 'Jeep')
(25, 'KIA')
(26, 'Koenigsegg')
(27, 'Lamborghini')
(28, 'Land Rover')
(29, 'Lexus')
(30, 'Lotus')
(31, 'Lynk & Co')
(32, 'Maserati')
(33, 'Mazda')
(34, 'McLaren')
(35, 'Mercedes-Benz')
(36, 'MG')
(37, 'MINI')
(38, 'Mitsubishi')
(39, 'Nissan')
(40, 'Opel')
(41, 'Pagani')
(42, 'Peugeot')
(43, 'Polestar')
(44, 'Porsche')
(45, 'Renault')
(46, 'Rolls-Royce')
(47, 'SEAT')
(48, 'Skoda')
(49, 'Smart')
(50, 'SsangYong')
(51, 'Subaru')
(52, 'Suzuki')
(53, 'Tesla')
(54, 'Toyota')
(55, 'Volkswagen')
(56, 'Volvo')

In [14]:
import pandas as pd

In [15]:
data = pd.read_sql('SELECT * FROM brandCars',con)
data

    IdCar      nameBrand
0       0         Abarth
1       1         Aiways
2       2     Alfa Romeo
3       3         Alpine
4       4   Aston Martin
5       5           Audi
6       6        Bentley
7       7            BMW
8       8        Bugatti
9       9        Citroën
10     10          CUPRA
11     11          Dacia
12     12           DFSK
13     13             DR
14     14             DS
15     15        Ferrari
16     16           Fiat
17     17           Ford
18     18        Genesis
19     19  Hispano Suiza
20     20          Honda
21     21        Hyundai
22     22          INEOS
23     23         Jaguar
24     24           Jeep
25     25            KIA
26     26     Koenigsegg
27     27    Lamborghini
28     28     Land Rover
29     29          Lexus
30     30          Lotus
31     31      Lynk & Co
32     32       Maserati
33     33          Mazda
34     34        McLaren
35     35  Mercedes-Benz
36     36             MG
37     37           MINI
38     38     Mitsubishi
39     39         Nissan
40     40           Opel
41     41         Pagani
42     42        Peugeot
43     43       Polestar
44     44        Porsche
45     45        Renault
46     46    Rolls-Royce
47     47           SEAT
48     48          Skoda
49     49          Smart
50     50      SsangYong
51     51         Subaru
52     52         Suzuki
53     53          Tesla
54     54         Toyota
55     55     Volkswagen
56     56          Volvo

In [16]:
con.close()